%h1 Videos

%br/

%span.hidden#videos_url{:'data-url' => videos_url}

#map_canvas.map.rounded

#dialog{style: 'display: none'}
  = render 'form', layout: false

#marker_content.hidden
  /
    %iframe{:class => 'youtube-player', :type => 'text/html', :width => 384, :height => 200,
          :src => "http://www.youtube.com/embed/guid", :frameborder => 0}

