%img{:src => 'http://lemariagecreatif.com/files/gimgs/Logos/lemariagelogo_es.png'}

#menu
  .container
    %ul
      %li
        %a.parent{:href => '#', :nofollow => true} prometidos
        %ul.children{:style => 'display: none'}
          %li.child
            %a.load{:href => '#', :nofollow => true} nacho y paula
          %li.child
            %a.load{:href => '#', :nofollow => true} sole y nacho

      %li
        %a.parent{:href => '#', :nofollow => true} bodas
        %ul.children{:style => 'display: none'}
          %li.child
            %a.load{:href => '#', :nofollow => true, :"data-url" => 'cris_moni'} cristian y monica
          %li.child
            %a.load{:href => '#', :nofollow => true} vanes y alvaro
          %li.child
            %a.load{:href => '#', :nofollow => true} laura y javier
          %li.child
            %a.load{:href => '#', :nofollow => true} paula y selu

      %li
        %a.parent.load{:href => '#', :nofollow => true} de vosotros y nosotros

      %li
        %a.parent{:href => '#', :nofollow => true} info
        %ul.children{:style => 'display: none'}
          %li.child
            %a.load{:href => '#', :nofollow => true} precios
          %li.child
            %a.load{:href => '#', :nofollow => true} contacto
          %li.child
            %a.load{:href => '#', :nofollow => true} testimonios

      %li
        %a.parent.load{:href => '#', :nofollow => true} colaboradores

      %li
        %a#link_area_clientes.load{:href => '#', :nofollow => true} area clientes

  %p
    %a{:class => 'Boton blog', :href => "http://lemariagecreatif.tumblr.com", :target => "_blank"}
      = 'visita nuestro blog'

  %p
    %script
      function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=124,height=14');return false;}

  %p
    %a{:href =>"http://www.facebook.com/sharer.php?u=www.lemariagecreatif.com", :onclick => "return fbs_click()", :target => "_blank"}
      = 'cuentaselo a todos'

#content

