!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Le Mariage Creatif
    %link{:href => "site/lemariage/style.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "site/js/jquery.js", :type => "text/javascript"}
    %script{:src => "site/js/cookie.js", :type => "text/javascript"}
    %script{:src => "site/js/collapsable.js", :type => "text/javascript"}
  %body.section-1
    %p
      %br/
      En &quot;
      %em>
        %strong Le Mariage Creatif
      \&nbsp;&quot; realizamos las fotos de forma unica, creativas, naturales, cercanas. Creemos que la confianza con vosotros es muy importante para realizar las fotos y hacemos un gran esfuerzo por conseguir sacar lo mejor de cada pareja y asegurar un recuerdo de vuestra boda verdaderamente inolvidable.
    %p
      %br/
      %br/
      * Viajamos y nos desplazamos para las bodas, os seguiremos a cualquier lugar del mundo. Si podéis llegar para casaros, nosotros también.
      %br/
      %br/
      * Podéis customizar a vuestro gusto el paquete, incluyendo diferentes cosas como fotos de pedida, fotos del dia después, álbum para los padres, fotomatón, sesiones de ¨me-da-igual-el-vestido&quot;,...estamos abiertos a cualquier sugerencia.
      %br/
    %p &nbsp;
    %p
      %strong Nuestras Tarifas comienzan apartir de 1500€
    %p
      %br/
      %strong *No dudes en ponerte en contacto con nosotros para concertar una cita con nostrosy contaros todas las posibilidades y todo lo que ofrecemos.
